<a class="libro" href="/product/<%= libro.id %>">
    <img src="/images/portadas/<%= libro.img %>">
    <h3><%= libro.titulo %></h3>
    <p class="detalle-producto"><%= libro.autor %></p>
    <p class="precio-producto">$<%= libro.precio %></p>
</a>