<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="/js/cart.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="./css/carrito.css">
    <link rel="stylesheet" type="text/css" link href="./css/header-footer.css">   
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script> 
   <title>El sombrerero Loco</title>
</head>
<body>
  <%- include('./partials/header')  %> 
  

  <% if (totalPrice) { %>
    
  <main>
<div class="Pedido">
  <h1 class=cen >Carrito de Compras</h1> 
   <h3 class=frase> "Si la locura es felicidad, me declaro loco."- El Sombrerero -
                    </h3>
  
                      <div class="carrito">
                        <div>
                         <!-- Titulo -->
                         <div class="titulo">
                           Carrito de compras
                         </div>
                   <div>
                         <!-- Libro #1 -->
                         <% items.forEach(item =>{ %>
                        <div class="item">
                           <div class="image">
                            <img class="image" src="/images/portadas/<%= item.image %>" alt="">
                           </div>
                   
                           <div class="description">
                            <p class="product_name"><%= item.product_name %></p>
                             <span>Editorial</span>
                             <span>ISBN</span>
                           </div>
                         
                          <div class="quantity">
                             <button class="minus-btm" type="button" name="button" data-id="<%= item.id %>">
                              <img src="/images/minus.svg" alt="">
                            </button>
                           
                             <input type="number"  name="quantitys" class="quantitys" value="<%= item.quantity %>" min="1">
                             <button class="plus-btm" type="button" name="button" data-id="<%= item.id %>">
                              <img src="/images/plus.svg" alt="">
                            </button>
                           </div>
                           <div class="total-price">
                            <span>$</span>  
                             <span class="unit_price">
                               <%= item.unit_price %>
                             </span>
                           </div>
                           <div class="total-price"> 
                            <span>$</span>  
                            <span class="subtotal">
                               <%= item.subtotal %>
                            </span>

                            
                         </div>
                           <div class="btndelete">

                            <form method="POST" action="/carrito/item/delete/<%= item.id %>">
                              <button class="plus-btns" type="submit"> 
                                <img src="/images/delete-svgrepo-com.svg" alt="">
                              </button>
                            </form>
                             
                            
                           </div>
                         </div>
                         <% }) %> 
                    
                         <div class="col text-center">
                         
                          
                          <div class="card border-success mb-3" style="max-width: 18rem;padding: 0px;display: inline-block;">
                            <div class="card-header">Total</div>
                            <div class="card-body text-success" style="padding: 0px;">
                              <h5 class="card-title"> <span>$</span><span id="total"><%=totalPrice %></span></h5>
                             
                            </div>
                          </div>
                          
                              




                          <div style="padding: 5px;">

                            <button  style="background: #6e066e;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                              Realizar Compra
                            </button>
                          </div>
                        </div>



                   
                        
                         </div>
                       </div>
                        
                       
                        
                       
                     </div>
                    
                
                   
                   <script type="text/javascript">
                    $('.minus-btm').on('click', function(e) {
                      e.preventDefault();
                      var $this = $(this);
                      var $input = $this.closest('div').find('input');
                      var value = parseInt($input.val());
              
                      if (value > 1) {
                        value = value - 1;
                      } else {
                        value = 0;
                      }
              
                      $input.val(value);
              
                    });
              
                    $('.plus-btm').on('click', function(e) {
                      e.preventDefault();
                      var $this = $(this);
                      var $input = $this.closest('div').find('input');
                      var value = parseInt($input.val());
              
                      if (value < 100) {
                        value = value + 1;
                      } else {
                        value =100;
                      }
              
                      $input.val(value);
                    });
              
                    $('.like-btn').on('click', function() {
                      $(this).toggleClass('is-active');
                    });
                  </script> 


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos personales - Pago - Envio</h1></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="datospersonales">
        
        <form name="f1" class="form"  action="/carrito/order/add" method="POST">
          <input type="text" class="form-control" placeholder="Nombre completo" name="nombre" required/>
          <input type="text" class="form-control" placeholder="Apellido" name="apellido" required/>
          <select class="form-control" id="paisesCombo" name="countryId">
              <option > Seleccione un país</option>
              <option value="AL">Alemania</option>
              <option value="AR" selected>Argentina</option>
              <option value="BR">Brasil</option>
              <option value="CH">Chile</option>
          </select>
          <select class="form-control" id="pciasCombo" name="pciaId">
              <option > Seleccione una provincia</option>
              <option value="BA" selected>Buenos Aires</option>
              
              <option value="CF">Capital Federal</option>
              <option value="CA">Catamarca</option>
              <option value="otra">Otra...</option>
          </select>
          <input type="text" class="form-control" placeholder="Localidad" name="localidad" required/>
          <input type="text" class="form-control" placeholder="Código Postal" name="cp" required/>
          <input type="text" class="form-control" placeholder="Teléfono" name="Télefono" required/>
          <input type="text" class="form-control" placeholder="Calle" name="calle" required/>
          <input type="number" class="form-control" placeholder="Altura" name="altura" required/>
          <input type="text" class="form-control" placeholder="Piso - Departamento" name="piso" opcional/>
          <select class="form-control" id="formadepago" name="formadepago" onchange="cambia_formaEnvio()" required>
            <option value="0" > Elija método de Pago</option>
            <option value="1">Efectivo</option>
            <option value="2">Tarjeta de Credito</option>
            <option value="3">Tarjeta de Debito</option>
            <option value="4">Deposito/Tranferencia Bancaria</option>
        </select>
        <select class="form-control" name=formaEnvio required> 
          <option value="">Elija la forma de entrega</option> 
          </select>
         
    
      
              
            
        <script>
          var formaEnvios_1=new Array("Retiro por sucursal");
          var formaEnvios_2=new Array("Envio a domicilio","Retiro por correo","Retiro por sucursal");
          var formaEnvios_3=new Array("Envio a domicilio","Retiro por correo","Retiro por sucursal");
          var formaEnvios_4=new Array("Envio a domicilio","Retiro por correo","Retiro por sucursal");
        
          var todasformaEnvios = [
            [],
            formaEnvios_1,
            formaEnvios_2,
            formaEnvios_3,
           formaEnvios_4,
          ];
        
          function cambia_formaEnvio(){ 
             //tomo el valor del select del pais elegido 
             var formadepago 
             formadepago = document.f1.formadepago[document.f1.formadepago.selectedIndex].value 
             //miro a ver si el pais está definido 
             if (formadepago != 0) { 
                //si estaba definido, entonces coloco las opciones de la provincia correspondiente. 
                //selecciono el array de provincia adecuado 
                mis_formaEnvios=todasformaEnvios[formadepago]
                //calculo el numero de provincias 
                num_formaEnvios = mis_formaEnvios.length 
                //marco el número de provincias en el select 
                document.f1.formaEnvio.length = num_formaEnvios 
                //para cada provincia del array, la introduzco en el select 
                for(i=0;i<num_formaEnvios;i++){ 
                   document.f1.formaEnvio.options[i].value=mis_formaEnvios[i] 
                   document.f1.formaEnvio.options[i].text=mis_formaEnvios[i] 
                }	
             }else{ 
                //si no había provincia seleccionada, elimino las provincias del select 
                document.f1.formaEnvio.length = 1 
                //coloco un guión en la única opción que he dejado 
                document.f1.formaEnvio.options[0].value = "-" 
                document.f1.formaEnvio.options[0].text = "-" 
             } 
             //marco como seleccionada la opción primera de provincia 
             document.f1.formaEnvio.options[0].selected = true 
        }
        
          </script>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver a Carrito</button>
            <button type="submit" class="btn btn-primary">Realizar Compra</button>
          </div>
        </form>
      </div>

      </div>
      
    </div>
  </div>
</div><!--div fin modal-->


  
</div>
<div class="col text-center" style="display:grid;
        align-items: center;">
                       
         
          <div style="padding: 5px;">
            <a style="background: #9B9DCC;"class="btn btn-warning" href="/pedidos" role="button"> Ver Historial de Compras</a>
           
            
           
          </div>

        
        </div>
     

 </main>

 <% } else { %>
  <main>
    <div class="Pedido">
      <div class="carrito" style="height: 300px;">

        <div class="col text-center" style="display:grid;
        align-items: center;">
              <h3>"¡Ups! El carrito esta vacio"</h3>           
                         
                          
          <div style="padding: 5px;"> 
            <a  style="background: #6e066e;" class="btn btn-success" href="/" role="button">Empezar a comprar</a>
            
        </div>
          <div style="padding: 5px;">
            <a style="background: #9B9DCC;" class="btn btn-warning" href="/pedidos" role="button"> Ver Historial de Compras</a>
           
            
           
          </div>

        
        </div>
      </div>
    </div>
  </main>
  <% } %>
  <%- include('./partials/footer')  %> 
</body>
</html>



