<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="../css/header-footer.css">
    <link rel="stylesheet" type="text/css" link href="../css/productDetail.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>
        <%= libro.libro_titulo %>
    </title>
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="contDetail">
            <div class="contenedor-titulo">
                <h2 class="titulo">
                    <%= libro.libro_titulo %>
                </h2>
            </div>
            <div class="productDetailImg">
                <img src="/images/portadas/<%= libro.libro_imagen %>" alt="">
            </div>

            <div class="description" style="margin-top: 5px;">
                <div class="descriptionAutor">
                    <p>Autor:</p>
                    <a href="" class="autor">
                        <%= libro.autores.autor_nombre %>
                    </a>
                </div>
                <div class="descriptionEditorial">
                    <p>Editorial: </p>
                    <a href="#" class="editorial">
                        <%= libro.libro_editorial %>
                    </a>
                    <br>
                </div>
                <p>Número de páginas: <%= libro.libro_paginas %></p>
                <p class="precio">
                    $ <%= libro.libro_precio %>
                </p>
                <div class="productDetailPurchase">
                   
                   <div>
                    <form action="/carrito/add/<%= libro.libro_id %>" method="POST" id="formulario">
                        <input style="display:none" type="number" name="cantidad" id="compra" value="1">
                        <button class="btnComprar" type="submit">
                           <p>Comprar ahora</p>
                     </form>
                       </div>
                    <a href="#">
                        <div>
                            <form action="/carrito/addc/<%= libro.libro_id %>" method="POST" id="formularioadd">


                                <input style="display:none" type="number" name="cantidad" id="compra" value="1">
                                <button class="btnAgregar" type="submit" id="agregar">
                                    <p>Agregar al Carrito</p>
                                </button>
                            </form>
                        </div>

                    </a>
                </div>
            </div>
            <% if(locals.usuarioLogeado && locals.usuarioLogeado.usuario_rol_id === 1){ %>
                <div class="buttons-admin">
                    <a href="/admin/edit/<%= libro.libro_id %>"><button>EDITAR</button></a>
                    <a href="/admin/delete/<%= libro.libro_id %>"><button>ELIMINAR</button></a>
                </div>
            <% } %> 
        </div>
        <div class="detalles">
            <h2>Sinopsis del libro <a>
                    <%= libro.libro_titulo %>
                </a></h2>
            <p>
                <%= libro.libro_sinopsis %>
            </p>
        </div>
    </main>
    <%- include('./partials/footer')  %> 
    <script src="/js/alertaddCarrito.js"></script>
</body>
</html>