<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" link href="/css/aboutUs.css"> 
    <link rel="stylesheet" type="text/css" link href="/css/register.css"> 
    <link rel="stylesheet" type="text/css" link href="/css/header-footer.css">      
    <link rel="icon" href="/images/sombrero-loco.100px.ico">
    <title>El sombrero Loco</title>
</head>
<body>
    <%- include('./partials/header')  %> 
    <main>
        <h1 class="cen">¡Hola <%=locals.usuarioLogeado.usuario_nombre%> <%=locals.usuarioLogeado.usuario_apellido%>!</h1>
        
            <h2 class="frase-profile">"El secreto querid@ <%=locals.usuarioLogeado.usuario_nombre%>, es rodearse de personas que te hagan sonreir el corazón"</h2>
            + 
        <section>
            <form class="form" action="/user/profile/<%=locals.usuarioLogeado.usuario_id %>" method="POST">
                <h3 class="cen">Editar perfil</h3>
                <br>
                <p class="profile-parraf">*Para editar alguno de los campos se debe modificar la información deseada y enviar el formulario</p>
                <br>

                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombreProfile" class="form-control" value="<%=locals.usuarioLogeado.usuario_nombre%>">

                <label for="apellido" class="form-label">Apellido:</label>
                <input type="text" name="apellidoProfile" class="form-control" value="<%=locals.usuarioLogeado.usuario_apellido%>">

                <label for="email" class="form-label">Email:</label>
                <input type="email" name="emailProfile" class="form-control" value="<%=locals.usuarioLogeado.usuario_email%>">
                
                <label for="img" class="form-label">Imagen de perfil:</label>
                <input type="file" accept=".jpg, .png" name="img" id="img" class="form-control">

                <!-- <label for="contraseña" class="form-label">Contraseña actual:</label>
                <input type="password" name="contraseñaProfile" class="form-control" placeholder="Ingrese su contraseña actual">

                <label for="nuevaContraseña" class="form-label">Nueva contraseña:</label>
                <input type="password" name="nuevaContraseñaProfile" class="form-control" placeholder="Ingrese su contraseña nueva"> -->

                <input type="submit" value="ENVIAR">
            </form>
        </section>

    </main>
    <%- include('./partials/footer')  %>     
</body>
</html>