<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/129dcb97cd.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" link href="../css/carrito.css">
  <link rel="stylesheet" type="text/css" link href="../css/header-footer.css">
  <link rel="icon" href="images/sombrero-loco.100px.ico">
  <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
  <title>El sombrerero Loco</title>
</head>

<body>
  <%- include('./partials/header') %>
    <% if (totalPrice) { %>
      <main>
        <div class="Pedido">
          <h1 class=cen>Compras Realizadas</h1>
          <h3 class=frase> "Si la locura es felicidad, me declaro loco."- El Sombrerero -
          </h3>
          <div class="carrito">
            <div>
              <!-- Titulo -->
              <div class="titulo">
                Detalle de Orden de Compra N° <%= nroorden %>
              </div>
              <div>
                <!-- Libro #1 -->
                <% items.forEach(item=>{ %>
                  <div class="item">

                    <div class="image">
                      <img class="image" src="/images/portadas/<%= item.image %>" alt="">
                    </div>

                    <div class="description">
                      <p class="product_name">
                        <%= item.product_name %>
                      </p>
                      <span>Editorial</span>
                      <span>ISBN</span>
                    </div>

                    <div class="total-price">


                      <span style="margin-left: 30px;margin-top: 5px;">
                        <%= item.quantity %>
                      </span>

                    </div>

                    <div class="total-price">
                      <p class="unit_price">
                        <%= item.unit_price %>
                      </p>
                    </div>

                    <div class="total-price">
                      <p class="subtotal">
                        <%= item.subtotal %>
                      </p>
                    </div>

                  </div>
                  <% }) %>

                    <div class="col text-center">
                      <div class="card border-success mb-3"
                        style="max-width: 18rem;padding: 0px;display: inline-block;">
                        <div class="card-header">Total</div>
                        <div class="card-body text-success" style="padding: 0px;">
                          <h5 class="card-title"> <span>$</span><span id="total">
                              <%=totalPrice %>
                            </span></h5>
                        </div>
                      </div>

                      <div style="padding: 5px;">
                        <a style="background: #6e066e;" type="button" class="btn btn-primary" href="/pedidos">Volver a
                          Pedidos</a>
                      </div>
                    </div>

              </div>
            </div>
          </div>
        </div>
      </main>

      <% } else { %>
        <main>
          <div class="Pedido">
            <div class="carrito" style="height: 300px;">
              <div class="col text-center" style="display:grid;align-items: center;">
                <h3>"¡Ups! El carrito esta vacio"</h3>
                <div style="padding: 5px;">
                  <a style="background: #6e066e;" class="btn btn-success" href="/" role="button">Empezar a comprar</a>
                </div>
                <div style="padding: 5px;">
                  <a style="background: #9B9DCC;" class="btn btn-warning" href="/pedidos" role="button"> Ver Historial de Compras</a>
                </div>
              </div>
            </div>
          </div>
        </main>
        
        <% } %>
          <%- include('./partials/footer') %>

</body>

</html>