<a class="libro" href="/products/<%= libro.libro_id %>">
    <div class="contenedor">
        <div class="img-precio">
            <img src="/images/portadas/<%= libro.libro_imagen %>">
            <p class="precio-producto">$<%= libro.libro_precio %></p>
        </div>
        <div class="descripcion">
            <h3><%= libro.libro_titulo %></h3>
            <p class="detalle-producto"><%= libro.libro_autor %></p>
        </div>    
    </div> 
    <p class="precio-producto-res">$<%= libro.libro_precio %></p>
</a>